:root{
    --primary-color: rgba(135, 168, 120);
    --secondary-color: rgba(176, 188, 152);
    --accent1-color: rgba(199, 204, 185);
    --accent2-color: rgba(202, 226, 188);
    --oppacity:0.7;
}

h1{
    color: var(--primary-color);
    font-family: "Rubik", serif;
    font-weight: 700;
    font-style: normal;
}

h2{
    color: var(--secondary-color);
    font-family: "Rubik", serif;
    font-weight: 700;
    font-style: normal;
}

p {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

#social-media{
    text-decoration: none;
}

#social-media img{
    width: 2rem;
}

.hero h1{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 150px;
    left: 8px;
    color: white;
    padding: 0px 245px;
}

.hero article{
    position: absolute;
    background-color: rgba(135, 168, 120, 0.7);
    top: 250px;
    left: 50px;
    width: 700px;
    padding: 0.5rem;
    color: white;
}

.hero article img{
    float: right;
    width: 100px;
    margin: 1rem;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

body{
    max-width: 800px;
}